/* .calc-container {
	margin: 100px;
} */

header {
	margin: 30px;
	text-align: center;
}

/* ---- Calculator grid ---- */
.calculator {
	background-color: #585159;
	border-radius: 5% 5% 20% 20%;
	border: 0.5px solid #717177;
	box-shadow: 0 3px 30px rgba(46, 46, 46, 0.752);
	display: grid;
	grid-template: repeat(1fr, 7) repeat(1fr, 5);
	margin: auto;
	width: fit-content;
}

.top-bar {
	grid-area: 1 / 1 / 2 / 5;
	height: 15px;
	display: flex;
	align-content: center;
	gap: 5px;
	padding-top: 10px;
	padding-left: 10px;
}

.red {
	width: 12px;
	height: 12px;
	background-color: #fe5e57;
	border-radius: 50%;
	border: 0.6px solid rgb(77, 74, 76);
}
.yellow {
	width: 12px;
	height: 12px;
	background-color: #ffbc2f;
	border-radius: 50%;
	border: 0.6px solid rgb(77, 74, 76);
}

.green {
	width: 12px;
	height: 12px;
	background-color: #28c840;
	border-radius: 50%;
	border: 0.6px solid rgb(77, 74, 76);
}
.output {
	color: white;
	grid-area: 2 / 1 / 3 / 5;
	font-family: 'Manrope', sans-serif;
	text-align: right;
	font-size: 50px;
	width: 260px;
}

.AC {
	grid-area: 3 / 1 / 4 / 2;
}

.number-toggle {
	grid-area: 3 / 2 / 4 / 3;
}

.percent {
	grid-area: 3 / 3 / 4 / 4;
}

.divide {
	grid-area: 3 / 4 / 4 / 5;
}

.multiply {
	grid-area: 4 / 4 / 5 / 5;
}

.subtract {
	grid-area: 5 / 4 / 6/ 5;
}

.add {
	grid-area: 6 / 4 / 7 / 5;
}

.equals {
	grid-area: 7 / 4 / 8 / 5;
	border-bottom-right-radius: 20%;
}

.decimal {
	grid-area: 7 / 3 / 8 / 4;
}
.zero {
	grid-area: 7 / 1 / 8 / 3;
	border-bottom-left-radius: 20%;
}
.one {
	grid-area: 6 / 1 / 7 / 2;
}

.two {
	grid-area: 6 / 2 / 7 / 3;
}

.three {
	grid-area: 6 / 3 / 7 / 4;
}

.four {
	grid-area: 5 / 1 / 6 / 2;
}
.five {
	grid-area: 5 / 2 / 6 / 3;
}
.six {
	grid-area: 5 / 3 / 6 / 4;
}

.seven {
	grid-area: 4 / 1 / 5 / 2;
}

.eight {
	grid-area: 4 / 2 / 5 / 3;
}
.nine {
	grid-area: 4 / 3 / 5 / 4;
}

/*  ---- Buttons ---- */
button {
	background-color: #828081;
	border: 0.6px solid rgb(77, 74, 76);
	color: white;
	font-size: 25px;
	height: 55px;
	width: 65px;
}

button:active {
	background-color: #b4b3b4;
}

.top {
	background-color: #686169;
}
.top:active {
	background-color: #828081;
}
.right {
	background-color: #ff9e0b;
}

.right:active {
	background-color: #cb7d08;
}
